
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #0056b3;
    color: black;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #000;
}

a{
    color: #000;
    text-decoration: none;
}

b {
    color: #ffffff;
}

h2{
    margin: auto;
    margin-top: 150px;
}

header div:first-child {
    display: flex;
    align-items: center;
}

header img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

header h1 {
    font-size: 24px;
}

.log, .sing {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border: 2px solid white; 
    border-radius: 25px;
    transition: background-color 0.3s;
}

.log:hover, .sing:hover {
    background-color: white;
    color: #007bff;
    text-decoration: none;
}


footer {
    background-color: #007bff;
    color: white;
    text-align: right;
    padding: 3px;
    margin-top: auto;
    font-size: 12px;
    border-top: 4px solid #000;
}

footer p {
    margin: 4px 0;
    padding-top: 5px;
}

main {
    background-color: #ffffff;
    color: #333; 
    max-width: 70%; 
    margin: 80px auto 20px; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
}

main h2 {
    font-size: 28px; 
    margin-bottom: 20px;
}

main p {
    font-size: 16px;
    line-height: 1.6;
}

.registrate{
    margin: 80px auto 5px auto;
    color: #0056b3;
    text-align: center;
    font-size: 36px;
}

.form {
    width: 500px;
    height: auto;
    margin: auto;
    box-shadow: 2px 4px 10px #333;
    display: flex;
    justify-content: center; 
    align-items: center;
}

form {
    background-color: #ffffff;
    padding: 15px;
    max-width: 300px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column; 
    gap: 3px;
}

form label {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-bottom: 1.5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    padding: 1.5px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 2px;
    width: 100%;
    box-sizing: border-box;
}

form button {
    background-color: #007bff;
    color: white;
    margin: 1px auto;
    padding: 12px 5px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 70%; 
}

form button:hover {
    background-color: #0056b3;
}

.usuario{
    font-size: 12px;
    color: #0056b3;
    text-decoration: none;
}

.logo {
    border-radius: 45px;
}

.section_index{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.75rem;
}

.section_index b{
    color: #000;
    font-weight: bold;
}

#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
}

#fondoModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.cancel-button {
    background-color: #dc3545;
}

.cancel-button:hover {
    background-color: #b02a37;
}

.header_preguntas{
    background-color: white;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;

}