<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>StudentOverflow</title>
</head>
<body>
    <header>
        <div>
            <img class="logo" src="../static/img/logo.svg" alt="Logo_StudentOverflow">
            <h1>Student<b>Overflow</b></h1>
        </div>
        <div>
            <a class="log" href="/login">Iniciar Sesión</a>
            <a class="sing" href="/singup">Registrarse</a>
        </div>
    </header>
    <main>
        <section class="section_index">
            <div>
                <h2>Bienvenidos a StudenOverflow!</h2>
                <p class="parrafo_index">Tu portal de preguntas y respuestas..<br><br>
                 Recuerda, inclusive la pregunta más pequeña puede llevar a <b>GRANDES</b> descubrimientos</p>
            </div>
            <div>
                <img src="../static/img/imagen_index.png" alt="">
            </div>
        </section>
    </main>
    <footer>
        <small>
            <p>Hybridge Education - Ing. En software <br>Prof: José Esteva</p>
            <p>Sitio diseñado por Sebastian Buonaccordo</p>
        </small>
    </footer>
</body>
</html>